h3 {
	color: skyblue;
}

hr {
	border: 1px solid grey;
}

.dashed-line {
	border: 1px dashed lightgrey;
}

.center {
	text-align: center;
}

.lower-third {
	text-align: right;
}

.lower-third button {
	margin: 10px 0px 10px 0px;
}

.quantity {
	display: inline-flex;
}

.quantity input {
    margin: 0px 3px 0px 3px;	
}

.add-product-link {
	cursor: pointer;
}

/*disable the input spinner*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.steps {
	margin: 30px 0px 30px 0px;
	padding: 0;
	overflow: hidden;
}
.steps a {
	color: white;
	text-decoration: none;
}
.steps em {
	display: block;
	font-size: 1.0em;
	font-weight: bold;
}
.steps li {
	float: left;
	margin-left: 0;
	width: 200px; /* 100 / number of steps */
	height: 50px; /* total height */
	list-style-type: none;
	padding: 15px; /* padding around text, last should include arrow width */
	border-right: 10px solid white; /* width: gap between arrows, color: background of document */
	position: relative;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+1)::before {
	position: absolute;
	top:0;
	left:0;
	display: block;
	border-left: 25px solid white; /* width: arrow width, color: background of document */
	border-top: 25px solid transparent; /* width: half height */
	border-bottom: 25px solid transparent; /* width: half height */
	width: 0;
	height: 0;
	content: " ";
}
/* colored arrow to the right */
.steps li::after {
	z-index: 1; /* need to bring this above the next item */
	position: absolute;
	top: 0;
	right: -25px; /* arrow width (negated) */
	display: block;
	border-left: 25px solid #EBEBEB; /* width: arrow width */
	border-top: 25px solid transparent; /* width: half height */
	border-bottom: 25px solid transparent; /* width: half height */
	width:0;
	height:0;
	content: " ";
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li { background-color: #EBEBEB; }
.steps li::after { border-left-color: #EBEBEB; }

/* Current */
.steps li.current { background-color: lightblue; }
.steps li.current::after { border-left-color: lightblue; }

/* Hover for completed and current */
.steps li:hover {background-color: #696}
.steps li:hover::after {border-left-color: #696}